/* _functions.scss */
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("http://fonts.googleapis.com/css?family=Contrail+One");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
/* line 4, scss/admin.scss */
body {
  background: url("../images/bg/noise.png");
  font: 12px Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
}

/* line 13, scss/admin.scss */
a {
  font: 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

/* line 19, scss/admin.scss */
#bodycon {
  width: 1000px;
  height: auto;
  min-height: 300px;
  height: auto !important;
  height: 300px;
  margin: 100px auto 0;
}

/* line 26, scss/admin.scss */
#actionmenu {
  padding: 10px;
  margin: 0;
  list-style: none outside none;
}
/* line 31, scss/admin.scss */
#actionmenu li {
  float: left;
  margin: 0px 15px 0px 0px;
}
/* line 35, scss/admin.scss */
#actionmenu li .actionbutton {
  display: block;
  width: 120px;
  margin: 0px 0px 20px;
  text-align: center;
}
/* line 41, scss/admin.scss */
#actionmenu li .actionbutton span {
  display: block;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.125);
  padding: 15px 10px;
  line-height: 1.3em;
}
/* line 48, scss/admin.scss */
#actionmenu li .actionbutton span img {
  margin-bottom: 10px;
  text-align: center;
}

/* line 59, scss/admin.scss */
#adminmenu {
  width: 200px;
  height: auto;
  min-height: 300px;
  height: auto !important;
  height: 300px;
  float: left;
  display: inline-block;
}
/* line 65, scss/admin.scss */
#adminmenu .mi {
  width: 200px;
  height: 25px;
  background: url("../images/bg/white3.png") repeat scroll 0% 0% transparent;
  -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  border: 1px solid rgba(0, 0, 0, 0.125);
  text-align: center;
  padding-top: 10px;
  margin-bottom: 5px;
  opacity: 0.5;
}
/* line 75, scss/admin.scss */
#adminmenu .mi:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset, rgba(0, 0, 0, 0.2) 0px 0px 2px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset, rgba(0, 0, 0, 0.2) 0px 0px 2px;
  -o-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset, rgba(0, 0, 0, 0.2) 0px 0px 2px;
  box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset, rgba(0, 0, 0, 0.2) 0px 0px 2px;
  opacity: 1;
}
/* line 80, scss/admin.scss */
#adminmenu .mi a {
  padding: 15px 35px;
  font: 14px Helvetica, Arial, sans-serif;
}
/* line 86, scss/admin.scss */
#adminmenu .sel {
  opacity: 0.8;
}

/* line 91, scss/admin.scss */
#content {
  width: 795px;
  height: auto;
  min-height: 300px;
  height: auto !important;
  height: 300px;
  float: right;
  display: inline-block;
  background: url("../images/bg/white3.png") repeat scroll 0% 0% transparent;
  -moz-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  border: 1px solid rgba(0, 0, 0, 0.125);
  opacity: 0.9;
}

/* line 108, scss/admin.scss */
#logo {
  padding-top: 3px;
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.46);
  text-decoration: none;
  font: 30px 'Contrail One', sans-serif;
  text-decoration: none;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.25) 0px 1px 1px;
  float: left;
}
/* line 118, scss/admin.scss */
#logo a {
  color: rgba(0, 0, 0, 0.46);
  text-decoration: none;
  font: 30px 'Contrail One', sans-serif;
}

/* line 125, scss/admin.scss */
.menu-item {
  margin-top: 0px;
  margin-left: 7px;
  padding: 5px;
  padding-top: 13px;
  padding-bottom: 11px;
  color: rgba(68, 85, 102, 0.8);
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: 600;
  float: left;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 1px;
}
/* line 138, scss/admin.scss */
.menu-item a {
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: rgba(68, 85, 102, 0.8);
  padding: 10px;
}
/* line 145, scss/admin.scss */
.menu-item:hover {
  color: #445566;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 50, color-stop(0%, rgba(170, 170, 170, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px;
}

/* line 153, scss/admin.scss */
.selected-mi {
  color: #445566;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 50, color-stop(0%, rgba(170, 170, 170, 0.15)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.15) 0px, rgba(255, 255, 255, 0) 50px);
  -moz-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.125) 0px 0px 5px, rgba(255, 255, 255, 0.55) 0 1px 0 inset;
  text-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px;
}

/* line 160, scss/admin.scss */
.logout {
  margin-top: 7px;
  padding: 6px 5px;
  padding-right: 0px;
  color: rgba(68, 85, 102, 0.8);
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: 600;
  cursor: pointer;
  text-shadow: rgba(255, 255, 255, 0.7) 0px 1px 1px;
  float: right;
}
/* line 171, scss/admin.scss */
.logout a {
  font: 14px Helvetica, Arial, sans-serif;
  font-weight: 600;
  color: rgba(68, 85, 102, 0.8);
  padding: 10px;
}
/* line 178, scss/admin.scss */
.logout:hover {
  color: #445566;
}

/* line 183, scss/admin.scss */
#menu-con {
  padding: 0;
  margin: 0;
  margin-top: 0px;
  width: 100%;
  height: 40px;
  background: url("../images/bg/white-less.png") repeat scroll 0% 0% transparent;
  -moz-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px, rgba(255, 255, 255, 0.7) 0 2px 0 inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px, rgba(255, 255, 255, 0.7) 0 2px 0 inset;
  -o-box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px, rgba(255, 255, 255, 0.7) 0 2px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 5px, rgba(255, 255, 255, 0.7) 0 2px 0 inset;
}

/* line 192, scss/admin.scss */
#head-color {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 5px;
  background: url("../images/bg/off-red.png") repeat scroll 0% 0% transparent;
  z-index: -1;
}

/* line 200, scss/admin.scss */
#head-con {
  width: 100%;
  height: 5px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 5, color-stop(0%, rgba(255, 255, 255, 0.15)), color-stop(100%, rgba(170, 170, 170, 0)));
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(170, 170, 170, 0) 5px);
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(170, 170, 170, 0) 5px);
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(170, 170, 170, 0) 5px);
  background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(170, 170, 170, 0) 5px);
  background-image: linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, rgba(170, 170, 170, 0) 5px);
  z-index: 0;
}

/* line 206, scss/admin.scss */
#menu-con-t {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 50, color-stop(0%, rgba(170, 170, 170, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.3) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.3) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.3) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.3) 0px, rgba(255, 255, 255, 0) 50px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.3) 0px, rgba(255, 255, 255, 0) 50px);
}

/* line 213, scss/admin.scss */
#menu {
  color: white;
  margin: 0 auto 0;
  width: 960px;
  height: 40px;
}
