/* _functions.scss */
@import url("http://fonts.googleapis.com/css?family=Ubuntu:400,700");
@import url("http://fonts.googleapis.com/css?family=Contrail+One");
@import url("http://fonts.googleapis.com/css?family=Crimson+Text");
/* line 3, scss/login.scss */
body {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  background: url("../images/bg/noise.png") repeat scroll 0% 0% transparent;
  color: rgba(101, 101, 101, 0.9);
  margin: 0;
  padding: 0;
}

/* line 11, scss/login.scss */
#bodycon {
  width: 100%;
}

/* line 15, scss/login.scss */
#game {
  margin: 0;
  padding: 0;
  margin-top: -50px;
  float: right;
  z-index: 0;
  position: fixed;
  margin-left: 350px;
}

/* line 24, scss/login.scss */
#page-con {
  width: 760px;
  height: 500px;
  margin: 0 auto 0;
}

/* line 29, scss/login.scss */
#name-con {
  padding: 10px;
  width: 500px;
  height: 35px;
  background: url("../images/bg/white2.png") repeat scroll 0% 0% transparent;
  margin: 350px auto 0;
  -moz-box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 7px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 7px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  -o-box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 7px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  box-shadow: rgba(0, 0, 0, 0.055) 0px 0px 7px, rgba(255, 255, 255, 0.75) 0px 1px 2px inset;
  z-index: 3;
  position: relative;
}

/* line 39, scss/login.scss */
.right {
  float: right;
}

/* line 43, scss/login.scss */
.long {
  width: 350px;
  height: 37px;
}

/* line 47, scss/login.scss */
.conbox {
  background: url("../images/bg/white3.png") repeat scroll 0% 0% transparent;
  opacity: 0.9;
  margin: 250px auto 0;
  z-index: 3;
  position: relative;
  float: left;
  padding-bottom: 5px;
  border: 1px solid #cecece;
}

/* line 58, scss/login.scss */
.login-cont {
  width: 300px;
  height: 265px;
  margin-top: 275px;
}

/* line 63, scss/login.scss */
.signup-cont {
  width: 320px;
  height: 350px;
  opacity: 1;
  position: absolute;
}

/* line 69, scss/login.scss */
.fp-cont {
  width: 300px;
  height: 240px;
  opacity: 1;
  margin: 300px auto 0;
  position: absolute;
}

/* line 76, scss/login.scss */
#fp {
  color: rgba(0, 0, 255, 0.45);
  cursor: pointer;
  margin-left: 105px;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
}

/* line 83, scss/login.scss */
#fp-con:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
}

/* line 87, scss/login.scss */
#login-con:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
}

/* line 91, scss/login.scss */
#signup-con:hover {
  -moz-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
  box-shadow: rgba(255, 255, 255, 0.95) 0px 1px 2px inset;
}

/* line 95, scss/login.scss */
#info-con {
  width: 400px;
  height: 400px;
  margin: 200px auto 0;
  z-index: 3;
  position: relative;
  float: right;
}

/* line 103, scss/login.scss */
#signup-tag {
  float: right;
  width: 84px;
  height: 50px;
  background: url("../images/signup-tag.jpg") repeat scroll 0% 0% transparent;
  z-index: 0;
  margin: 110px auto 0;
  margin-left: 230px;
  border: 1px solid #cecece;
  position: absolute;
}

/* line 114, scss/login.scss */
#signup-tag:hover {
  cursor: pointer;
  margin-left: 242px;
  -moz-transition: all 0.35s ease-in;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

/* line 120, scss/login.scss */
#login-tag {
  float: right;
  width: 84px;
  height: 50px;
  background: url("../images/login-tag.jpg") repeat scroll 0% 0% transparent;
  z-index: 0;
  margin: 155px auto 0;
  margin-left: -17px;
  position: absolute;
  border: 1px solid #cecece;
}

/* line 131, scss/login.scss */
#preload {
  display: none;
}

/* line 133, scss/login.scss */
#login-tag:hover {
  cursor: pointer;
  margin-left: -30px;
  -moz-transition: all 0.35s ease-in;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

/* line 139, scss/login.scss */
#back-tag {
  float: right;
  width: 84px;
  height: 50px;
  background: url("../images/login-tag.jpg") repeat scroll 0% 0% transparent;
  z-index: 0;
  margin: 95px auto 0;
  margin-left: -17px;
  position: absolute;
  border: 1px solid #cecece;
}

/* line 150, scss/login.scss */
#back-tag:hover {
  cursor: pointer;
  margin-left: -30px;
  -moz-transition: all 0.35s ease-in;
  -webkit-transition: all 0.35s ease-in;
  -o-transition: all 0.35s ease-in;
  transition: all 0.35s ease-in;
}

/* line 156, scss/login.scss */
.error {
  text-align: center;
  font-size: 10px;
  line-height: 10px;
  font-weight: 500;
  width: 250px;
  height: 14px;
  background: rgba(255, 0, 0, 0.02);
  margin: 0 auto 0;
  border-radius: 3px;
  color: rgba(255, 0, 0, 0.9);
}

/* line 166, scss/login.scss */
#inside {
  margin-left: 20px;
  line-height: 10px;
  margin-right: 20px;
}

/* line 172, scss/login.scss */
.content {
  font-size: 25px;
  z-index: 4;
  position: relative;
  background: url("../images/bg/white2.png") repeat scroll 0% 0% transparent;
  width: 100%;
  height: 100%;
}

/* line 180, scss/login.scss */
.contents {
  font-size: 25px;
  z-index: 4;
  position: relative;
  width: 100%;
  height: 100%;
}

/* line 187, scss/login.scss */
.check {
  border-radius: 4px;
  position: relative;
  margin-top: 0px;
  margin-bottom: -7px;
  margin-left: 7px;
  margin-right: -15px;
  opacity: 0.7;
}

/* line 197, scss/login.scss */
.shadows {
  width: 100%;
  height: 100%;
  z-index: 4;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 300, color-stop(0%, rgba(170, 170, 170, 0.225)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.225) 0px, rgba(255, 255, 255, 0) 300px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.225) 0px, rgba(255, 255, 255, 0) 300px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.225) 0px, rgba(255, 255, 255, 0) 300px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.225) 0px, rgba(255, 255, 255, 0) 300px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.225) 0px, rgba(255, 255, 255, 0) 300px);
  -moz-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
  -webkit-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
  -o-box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
  box-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px inset;
}

/* line 204, scss/login.scss */
.hidden {
  display: none;
}

/* line 208, scss/login.scss */
#count {
  margin: 0 auto 0;
  padding: 10px;
}

/* line 213, scss/login.scss */
#note {
  width: auto;
  height: 400px;
  margin: 0 auto 0;
  text-shadow: rgba(255, 255, 255, 0.3) 1px 1px 0;
  color: #666666;
  padding: 4px;
  text-align: center;
}

/* line 223, scss/login.scss */
h1, h3 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 35px;
  line-height: 60px;
  font-weight: 400;
  color: rgba(101, 101, 101, 0.9);
  text-shadow: white 0px 1px 2px;
}

/* line 233, scss/login.scss */
h3 {
  font-size: 25px;
  line-height: 60px;
}

/* line 238, scss/login.scss */
.noerror {
  margin-bottom: 10px;
}

/* line 242, scss/login.scss */
a {
  text-decoration: none;
  color: rgba(101, 101, 255, 0.9);
}

/* line 247, scss/login.scss */
.spaceman {
  width: 100%;
  height: 10px;
  float: left;
  margin: 0;
  padding: 0;
}

/* line 253, scss/login.scss */
h2 {
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 50px;
  line-height: 65px;
  font-weight: 700;
  color: #656565;
  text-shadow: white 0px 1px 2px;
}

/* line 265, scss/login.scss */
p {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 16px;
  line-height: 25px;
  font-family: 'Vollkorn', Georgia, Times, serif;
  color: rgba(101, 101, 101, 0.9);
  text-shadow: white 0px 1px 0px;
}

/* line 276, scss/login.scss */
hr {
  background: url("../images/sep2.png") repeat scroll 0% 0% transparent;
  width: 258px;
  height: 1px;
  margin: -5px auto 0;
  margin-bottom: 10px;
  padding: 0;
  float: left;
  text-decoration: none;
  border: none;
  opacity: 0.2;
}

/* line 289, scss/login.scss */
br {
  clear: both;
}

/* line 291, scss/login.scss */
input, textarea {
  font-family: 'Ubuntu', sans-serif;
  width: 242px;
  height: auto;
  padding: 8px;
  border: solid 1px #E5E5E5;
  outline: 0 none;
  color: rgba(101, 101, 101, 0.65);
  margin-bottom: 15px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 75, color-stop(0%, rgba(170, 170, 170, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0.2) 0px, rgba(255, 255, 255, 0) 75px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0.2) 0px, rgba(255, 255, 255, 0) 75px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0.2) 0px, rgba(255, 255, 255, 0) 75px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0.2) 0px, rgba(255, 255, 255, 0) 75px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0.2) 0px, rgba(255, 255, 255, 0) 75px);
}

/* line 302, scss/login.scss */
input, textarea {
  border: 1px solid #cecece;
}

/* line 306, scss/login.scss */
.hovered {
  border-color: rgba(201, 201, 201, 0.7);
  color: #3c3c3c;
}

/* line 312, scss/login.scss */
input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: rgba(170, 170, 170, 0.7);
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 2px;
  color: rgba(70, 70, 70, 0.9);
}

/* line 318, scss/login.scss */
#signup {
  float: right;
}

/* line 322, scss/login.scss */
#cpass {
  margin-bottom: 1.5em;
}

/* line 326, scss/login.scss */
.submit {
  padding: 9px;
  border: solid 1px rgba(201, 201, 201, 0.5);
  outline: 0 none;
  color: rgba(101, 101, 101, 0.9);
  width: 100px;
  height: auto;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 40, color-stop(0%, rgba(170, 170, 170, 0)), color-stop(100%, rgba(255, 255, 255, 0.1)));
  background-image: -webkit-linear-gradient(top, rgba(170, 170, 170, 0) 0px, rgba(255, 255, 255, 0.1) 40px);
  background-image: -moz-linear-gradient(top, rgba(170, 170, 170, 0) 0px, rgba(255, 255, 255, 0.1) 40px);
  background-image: -o-linear-gradient(top, rgba(170, 170, 170, 0) 0px, rgba(255, 255, 255, 0.1) 40px);
  background-image: -ms-linear-gradient(top, rgba(170, 170, 170, 0) 0px, rgba(255, 255, 255, 0.1) 40px);
  background-image: linear-gradient(top, rgba(170, 170, 170, 0) 0px, rgba(255, 255, 255, 0.1) 40px);
  border: 1px solid #cecece;
}
