@import "functions";

#logo{
	padding-top:3px;
	margin-right:20px;
	color: rgba(0,0,0,0.46);
	text-decoration:none;
    font: 30px 'Contrail One', sans-serif;
    text-decoration: none;
    cursor: pointer;
	@include text-shadow(rgba(255, 255, 255, 0.25) 0px 1px 1px);
	float:left;
	a{
		color: rgba(0,0,0,0.46);
		text-decoration:none;
	    font: 30px 'Contrail One', sans-serif;
	}
}

.menu-item{
	margin-top:0px;
	margin-left:7px;
	padding:5px;
	padding-top:13px;
	padding-bottom:11px;
	color: rgba(68, 85, 102,0.8);
	font: 14px Helvetica, Arial, sans-serif;
	font-weight: 600;
	float:left;
	cursor: pointer;
	@include text-shadow(rgba(255,255, 255, 0.7) 0px 1px 1px);

	a{
		font: 14px Helvetica, Arial, sans-serif;
		font-weight: 600;
		color: rgba(68, 85, 102,0.8);
		padding:10px;
	}

	&:hover{
		color: rgba(68, 85, 102,1);
		@include background-image(linear-gradient(top, rgba(170,170,170,0.15) 0px, rgba(255,255,255,0.0) 50px));
		@include box-shadow(rgba(0,0,0,0.2) 0px 0px 2px, rgba(255,255, 255, 0.55) 0 1px 0 inset);
		@include text-shadow(rgba(255,255, 255, 0.1) 0px 1px 1px);
	}
}

.selected-mi{
	color: rgba(68, 85, 102,1);
	@include background-image(linear-gradient(top, rgba(170,170,170,0.15) 0px, rgba(255,255,255,0.0) 50px));
	@include box-shadow(rgba(0,0,0,0.1) 0px 0px 2px, rgba(255,255, 255, 0.55) 0 1px 0 inset);
	@include text-shadow(rgba(255,255, 255, 0.1) 0px 1px 1px);
}

.logout{
	margin-top:7px;
	padding:6px 0px;
	color: rgba(68, 85, 102,0.8);
	font: 14px Helvetica, Arial, sans-serif;
	font-weight: 600;
	cursor: pointer;
	@include text-shadow(rgba(255,255, 255, 0.7) 0px 1px 1px);
	float:right;

	a{
		font: 14px Helvetica, Arial, sans-serif;
		font-weight: 600;
		color: rgba(68, 85, 102,0.8);
		padding:10px;
		padding-right:0px;
	}

	&:hover{
		color: rgba(68, 85, 102,1);
	}
}

#menu-con{
	padding:0;
	margin:0;
	margin-top:0px;
	@include dimentions(100%,40px);
    @include bgurl("white-less.png", 'true');
	@include box-shadow(rgba(255,255, 255, 0.7) 0 2px 0 inset);
	border: 1px solid rgba($border, 1);
	position:fixed;
	margin-top:-55px;
	z-index:10;
}

#head-color{
	margin:0;
	padding:0;
	@include dimentions(100%,5px);
	@include bgurl("off-red.png", 'true');
	z-index:9;
	position:fixed;
	margin-top:-60px;
}

#head-con{
	@include dimentions(100%,5px);
	@include background-image(linear-gradient(top, rgba(255,255,255,0.15) 0, rgba(170,170,170,0.0) 5px));
}

#menu-con-t{
	padding:0;
	margin:0;
	@include dimentions(100%,100%);
	@include background-image(linear-gradient(top, rgba(170,170,170,0.3) 0px,  rgba(255,255,255,0.0) 50px));
}

#menu{
	color: rgba(255,255,255,1);
	@include centerthis;
	@include dimentions(960px, 40px);
}